.app__home {
    display: flex;
    list-style: none;
    text-decoration: none;
}

.app__home-banner {
    flex: 0 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.app_home-topthree {
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content: space-between;
    
    flex: 0 1;
}

.extra {
    width: 97%;
    height: 100%;
    background-color: white;
    margin-right: 20px;
    margin-top: 20px;
}

